
#grid
  - @pics.each do |pic|
    .cell
      .pic
        = link_to pic.image.url do
          = image_tag pic.image.url(:medium)
        .caption
          %h4= pic.title
          .line
            = "taken at #{pic.taken_at}"
            ·
            = link_to "Map", map_pics_path(:pic_id => pic.id)
            - if current_user
              ·
              = link_to "Edit", edit_pic_path(pic)
              ·
              = link_to "Delete", pic, :method => :delete, :data => { :confirm => "Are you sure?" }
